@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&family=Silkscreen:wght@400;700&family=Ubuntu+Mono:wght@400;700&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


* {
	box-sizing: border-box;
}
:root {
    --black: #3e3c41;
    --white: #fff;
    --gray: #575350;
	--slate: #f0f0f0;
	--lime: chartreuse;
	--blue: #4c8bff;
	--almond: blanchedalmond;
}

@import "abstract/mixins";
@import "elements/body";
@import "elements/buttons";
@import "elements/cards";
@import "elements/media-player";
@import "elements/navigation";
@import "elements/playlists";
@import "elements/searchbar";
@import "elements/slider";
@import "elements/tracks";
@import "elements/typography";

@import "pages/home";
@import "pages/account";

.break {
	display: block;
	&:after {
		content: ' ';
		display: inline-block;
		width: 1rem;
	}
}
.mt-33 {
	margin-top: 33px;
}


/* Media queries */
@media screen and (max-width: 768px) {
    .break {
        display: inline-block;
    }
    .break:after {
        content: ' ';
        display: inline-block;
        width: 1rem;
    }
}