:root {
    --black: #3e3c41;
    --white: #fff;
    --gray: #575350;
	--slate: #f0f0f0;
	--light-slate: #f7f7f7;
	--dark-slate: #b9b8b8;
	--lime: #8dff65;
	--blue: #003aa5;
	--almond: blanchedalmond;
	--red: rgb(255, 71, 38);
    --border-width: 1.9px;
}

.hidden {
	height: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
	border: none;
	pointer-events: none;
	transition: all .2s ease;
}