<%= turbo_frame_tag 'app' do %>
    <section>
        <div class="site-container">
            <h1>Notifications</h1>
            <% if @notifications.present? %>
                <% @notifications.each do |n| %>
                    <%= link_to notification_path(id: n.id) do %>
                        <%= render "preview", notification: n, prev_viewed_at: @prev_notifications_viewed_at %>
                    <% end %>
                <% end %>
                <%= paginate @notifications %>
            <% else %>
                <p>You do not have any notifications</p>
            <% end %>
        </div>
    </section>
<% end %>