<%= turbo_frame 'app' do %>
    <section>
        <div class="site-container">
            <h1>Notifications</h1>
            <% if @notifications %>
                <% @notifications.each do |n| %>
                    <%= render "preview", notification: n, prev_viewed_at: @prev_notifications_viewed_at %>
                <% end %>
            <% else %>
                <p>You do not have any notifications</p>
            <% end %>
        </div>
    </section>
<% end %>