<%= turbo_frame_tag "app" do %>
  <section>
    <div class="site-container">
      <div> Welcome<% if current_user %> <%= current_user.username ? current_user.username : current_user.email %><% end %></div> 
    </div>
  </section>
  <% if @tags %>
    <section id="recent-tags">
      <div class="site-container">
        <div class="tags">
          <% for tag in @tags %>
            <div class="tag"><%= link_to tag.label, playlists_path(tag: tag.label) %></div>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
  <% if @playlists %>
    <section id="recent-playlists">
      <div class="site-container">
        <div class="playlists">
          <% for playlist in @playlists %>
            <%= render "playlists/playlist_compact", playlist: playlist, user: User.find(playlist.user_id) %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
<% end %>