a {
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
	text-decoration: none;
	color: var(--blue);
}

.btn-container {
	display: flex;
	gap: 16px;
	align-items: center;
}

[disabled] {
	pointer-events: none;
}

.btn {
	flex-shrink: 0;
	display: inline-block;
	padding: 8px 21px;
	border-radius: 0;
	border: none;
	font-family: inherit;
    text-decoration: none;
	font-size: 18px;
	font-weight: 800;
	text-align: center;
	line-height: 22px;
    color: inherit;
	background-color: var(--slate);
	white-space: nowrap;
	cursor: pointer;
	transition: transform .25s, background-color .25s;
    &:not(.link-btn):hover {
		background-color: var(--dark-slate);
	}
	&:active {
		transform: translateY(3px);
	}
}

button {
	padding: 1px 6px;
	font: inherit;
	cursor: pointer;
	background-color: #f0f0f0;
	border: 1px solid var(--black);
	border-radius: 3px;
	background-image: none;
	color: inherit;
	transition: background-color .2s ease, transform .2s ease;
	&:hover {
		background-color: var(--dark-slate);
	}
	&:active {
		transform: translateY(3px);
	}
}

.link-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
	&:hover {
		background-color: transparent;
	}
}

.button_to:has(.link-btn) {
	display: inline;
}

[class*=btn-] {
	&:before {
		content: '';
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: var(--black);
	}
}

.btn {
	&-trash {
		&:before {
			mask-image: url('trash.svg');
		}
	}
	&-edit {
		&:before {
			mask-image: url('pencil.svg');
		}
	}
	&-replace-image {
		&:before {
			mask-image: url('replace-image.svg');
		}
	}
	&-add-user {
		&:before {
			mask-image: url('add-friend.svg');
		}
	}
	&-add-editor {
		margin-top: 18px;
		background-color: transparent;
		border: none;
		&:before {
			content: '+';
			margin-right: 4px;
			background-color: transparent;
		}
		&:hover {
			background-color: transparent;
		}
	}
	&-play {
		&:before {
			mask-image: url('play.svg');
		}
	}
	&-load {
		&:before {
			mask-image: url('load.svg');
		}
	}
}

form.btn-trash {
	&:before {
		display: inline-block;
		width: 21px;
		height: 21px;
	}
}

.icon {
	display: inline-flex;
	padding: 6px;
	border-radius: 5px;
	border: none;
	background-color: var(--slate);
	transition: background-color .2s ease;
	&:before {
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: var(--black);
		display: inline-block;
		height: 21px;
		width: 21px;
		flex: 1 0 auto;
		text-align: center;
		transition: background-color .2s ease;
	}
	&:hover {
		background-color: var(--dark-slate);
	}
	&:active {
		background-color: var(--gray);
		&:before {
			background-color: #fff;
		}
	}
}

.btn-trash {
	position: relative;
	display: flex;
	align-items: center;
	button[type=submit] {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}
}

.add-track {
	display: inline-block;
	&:before {
		content: '+';
		display: inline-block;
		margin-right: 4px;
		transition: rotate 1s ease;
	}
	&:active:before {
		rotate: 720deg;
	}
}