input {
    &:not([type=range]):not([type=file]):not([type=checkbox]) {
        appearance: none;
        padding: 12px;
        border-radius: 0;
        border: 1.2px solid var(--gray);
        font-size: 16px;
        font-family: inherit;
        transition: background-color .2s ease;
        &::placeholder {
            color: var(--gray);
        }
        &:focus {
            outline: none;
        }
    }
    &:not([type=submit]):not([type=range]) {
        margin-bottom: 16px;
        &:not([type=checkbox]){
            width: 100%;
        }
    }
    &[type=submit] {
        @extend button;
        margin-top: 21px;
        padding: 1px 6px !important;
    }
    &[type=file] {
        display: block;
    }
}

textarea {
    @extend input;
    width: 100%;
}

.input-add-image {
    position: relative;
    height: 200px;
    width: 200px;
    margin-bottom: 16px;
    border-radius: 12px;
    border: 2px dashed var(--black);
    background-image: url('image.svg');
    background-size: 51px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    input[type=file] {
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    .output {
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: 100%;
        max-width: 100%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        &:not([src=""]) {
            background-color: #fff;
        }
    }
}

form {
    position: relative;
    max-width: 500px;
    label {
        display: inline-block;
        margin-bottom: 6px;
    }
    &.button_to {
        max-width: max-content;
    }
    button.fill {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        border: none;
    }
    .actions {
        margin-bottom: 28px;
    }
    .honeypot {
        position: absolute;
        visibility: hidden;
        left: -5000px;
        top: -5000px;
    }
}

.searchbox {
    display: flex;
    flex-direction: row;
    gap: 0;
    input:not([type=submit]) {
        width: auto;
        margin-bottom: 0;
        background-color: var(--light-slate);
        transition: background-color .2s ease;
        &:focus {
            background-color: transparent;
        }
        & + input[type=submit] {
            border-left: none;
        }
    }
    input[type=submit] {
        margin-top: 0;
        border: var(--border-width) solid var(--black);
        &:active {
            background-color: var(--mid-slate);
            transform: none;
        }
    }
}

.form-togglable {
    margin-bottom: 33px;
}