.playlist {
    &.full {
        .copy-area {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
        }
        .playlist-actions {
            display: flex;
            gap: 4px;
        }
        .flexbox {
            .pull-left {
                flex: 1 0 360px;
                overflow: hidden;
                .playlist-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .pull-right {
                flex: 0 0 calc(100% - 360px);
                width: calc(100% - 360px);
            }
            .playlist-image {
                position: fixed;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: .1;
                object-fit: cover;
            }
        }
        .playlist-actions {
            display: flex;
            gap: 6px;
        }
        .play-tracks {
            margin-right: auto;
        }
    }
    &-likes {
        display: inline-flex;
        gap: 3px;
        font-family: monospace;
        font-size: 12px;
    }
    .heart {
        font-family: system-ui;
        font-size: 25px;
        text-decoration: none;
        &:hover {
            background-color: transparent;
        }
        &:active {
            transform: none;
        }
    }

    &-likers {
        position: absolute;
    }
    &-track {
        margin: 21px 0;
    }
}

@media (max-width: 768px) {
	.playlist {
        &.full {
            .flexbox {
                flex-direction: column;
                gap: 44px;
                .pull-left, .pull-right {
                    flex-basis: auto;
                }
                .pull-right {
                    width: auto;
                }
            }
        }
    }
}