.slider-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 51px;
}
.slider-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 69px 0;
    &.box {
        padding: 0;
        overflow: hidden;
        .slider-container-headline {
            margin-bottom: 0;
            padding: 33px 33px 0 33px;
        }
        .slider {
            padding: 45px 33px 33px;
        }
        &.card-container {
            gap: 0;
        }
    }
}
.slider {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    padding: 30px 0;
    justify-content: flex-start;
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    // scrollbar-width: none;


    -ms-scroll-snap-points-x: repeat(250px);
    scroll-snap-points-x: repeat(250px);
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -webkit-scroll-snap-type: x mandatory;


    &::-webkit-scrollbar {
        opacity: 0;
    }

    .card {
        max-width: 300px;
        &-image {
            height: 130px;
        }
    }
}

.slider-nav {
    position: absolute;
    bottom: calc(100% + 33px);
    display: flex;
    gap: 11px;

    .control {
        @include centerContent;
        height: 50px;
        width: 50px;
        border: var(--border-width) solid var(--black);
        border-radius: 50%;
        transition: border-color .25s;

        &:before {
            content: '';
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 10px solid var(--black);
            transition: border-color .25s;
        }
        &.prev {
            rotate: 180deg;
        }

        &:hover {
            border-color: var(--lime);
            &:before {
                border-left-color: var(--lime);
            }
        }
    }
}
@media (max-width: 480px) {
    .slider-nav {
        position: relative;
        bottom: unset;
        padding: 0 18px !important;
        .control {
            height: 40px;
            width: 40px;
        }
    }
    .slider {
        &.overlap {
            .card {
                margin-right: -100px;
            }
        }
    }
    .slider-container {
        &.box {
            .slider {
                padding: 21px 18px 33px;
                &-container-headline {
                    margin-bottom: 21px;
                    padding-right: 18px;
                    padding-left: 18px;
                }
            }
        }
    }
}