h1, h2, h3, h4, h5, h6 {
	font-family: "Silkscreen", sans-serif;
	font-weight: 100;
	margin: 0 0 24px;
}
.emphasis-text {
	font-family: "Rubik Glitch Pop", system-ui;
}
.text-left {
	text-align: left;
}
.notice, .alert {
	position: fixed;
	top: 94px;
	width: 100%;
	text-align: center;
	opacity: 0;
	&:not(:empty) {
		animation: alert ease 6s forwards;
	}
}

@keyframes alert {
	0%, 100% {opacity: 0;}
	20%, 50% {opacity: 1;}	
}