@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&family=Silkscreen:wght@400;700&family=Ubuntu+Mono:wght@400;700&family=Tiny5&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --black: #3e3c41;
  --white: #fff;
  --gray: #ebf0f5;
}

body {
  font-family: "Ubuntu Mono", monospace;
  font-size: 18;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  text-align: center;
  scroll-behavior: smooth;
}

main {
  margin-top: 66.6px;
  min-height: calc(100vh - 112px);
}

.site-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 21px 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
}
.site-nav .btn {
  min-width: 0;
  padding: 0 12px;
}
.site-nav .home {
  margin-right: auto;
}

footer {
  padding: 33px 0 38px;
}

.site-container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.small-container {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.flexbox {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.break {
  display: block;
}
.break:after {
  content: " ";
  display: inline-block;
  width: 1rem;
}

.mt-33 {
  margin-top: 33px;
}

section {
  padding: 51px 0;
}

.bg-gray {
  background-color: var(--gray);
}

.bg-black {
  background-color: var(--black);
  color: #615e66;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Silkscreen", sans-serif;
}

.emphasis-text {
  font-family: "Rubik Glitch Pop", system-ui;
}

.text-left {
  text-align: left;
}

.btn {
  display: inline-block;
  min-width: 130px;
  padding: 8px 21px;
  border-radius: 0;
  border: 2px solid var(--black);
  font-family: "Silkscreen", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: transform 0.25s, background-color 0.25s;
}
.btn:hover {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
}
.btn:active {
  transform: translateY(3px);
}

.card-container {
  margin: 44px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.card {
  flex: 1 0 calc(33.3333333333% - 16px);
  min-width: 280px;
  max-width: 330px;
  padding: 33px;
  box-shadow: 0 0 20px var(--gray);
  border-radius: 0;
  border: none;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .break {
    display: inline-block;
  }
  .break:after {
    content: " ";
    display: inline-block;
    width: 1rem;
  }
}