<section>
  <div class="site-container">
    <h1>Playlists</h1>

    <div id="playlists" class="card-container">
      <% @playlists.each do |playlist| %>
        <%= render playlist %>
      <% end %>
    </div>

    <%= paginate @playlists %>
  </div>
</section>