#intro {
    padding: 102px 0;
    text-align: center;
}

.tags {
    flex: 0 0 250px;
}
.slider-container {
    padding-right: 0;
}

.tags + .slider-container {
    flex: 1 0 0;
}

@media (max-width: 672px) {
    #intro {
        max-width: 400px;
        padding: 88px 0;
        text-align: left;
    }
    .tags {
        flex: 0 0 100%;
    }
}
@media (max-width: 480px) {
    #intro {
        padding: 60px 0 38px;
    }
}
